cerr_curate_app/static/xsd/sample.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Resource">
  <xs:complexType>
    <xs:sequence>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="address" type="xs:string" minOccurs="0"/>
            <xs:element name="number" type="xs:positiveInteger"/>
            <xs:element name="country" type="xs:string"/>
          </xs:sequence>
    </xs:sequence>
    <xs:attribute name="status" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>
</xs:schema>